.card{
    transition: all .5s ease-in;
  }

.card__overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65%;
    width: 100%;
    opacity: 0;
    visibility: none;
    transition: .5s ease;
    background-color:rgba(0, 0, 0, 0.534);
}

.card:hover .card__overlay {
    opacity: 1;
  }
.overlay__text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

